<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.3/dist/vue-loading.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/all.css">
</head>

<body>
  <div id="app">
    <!-- 讀取效果的插件--START -->
    <loading :active.sync="isLoading"></loading>
    <!-- 讀取效果的插件--END -->
    <div class="bg_green h_150 mb-5">
      <div class="d-flex w-100 h-100 justify-content-end align-items-end p-2">
        <button type="button" class="btn btn-primary d-flex" data-toggle="modal" data-target="#cartModal">
          <span class="material-icons">
            shopping_cart
          </span>
          <div class="ml-2" v-if="carts.length">{{ carts.length }}</div>
        </button>
        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog w_70" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">購物車</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-center">
                  <table class="w-75">
                    <thead>
                      <th class="text-center pb-3">品名</th>
                      <th class="text-center pb-3" width="150px">
                        數量
                      </th>
                      <th class="text-center pb-3" width="80px">單位</th>
                      <th class="text-center pb-3">單價</th>
                      <th class="text-center pb-3" width="40px">刪除</th>
                    </thead>
                    <tbody>
                      <tr v-for="item in carts" :key="item.product.id + 1">
                        <td class="align-middle text-center">
                          {{ item.product.title }}
                        </td>
                        <td class="align-middle">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button type="button" class="btn btn-outline-primary px-2 d-flex justify-content-center" :disabled="item.quantity === 1">
                                <span class="material-icons">
                                  remove
                                </span>
                              </button>
                            </div>
                            <input id="inlineFormInputGroupUsername" type="text" class="form-control text-center"
                              :value="item.quantity" @keyup.enter="quantityUpdata(item.product.id, $event.target.value)">
                            <div class="input-group-append">
                              <button type="button" class="btn btn-outline-primary px-2 d-flex justify-content-center">
                                <span class="material-icons">
                                  add
                                </span>
                              </button>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center">
                          {{ item.product.unit }}
                        </td>
                        <td class="align-middle text-center">
                          {{ item.product.price }}
                        </td>
                        <td class="align-middle text-right">
                          <button type="button" class="btn btn-outline-danger btn-sm"
                            @click="removeCartItem(item.product.id)">
                            <span class="material-icons">
                              delete_outline
                              </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div>{{ cartsTotal }}</div>
                </div>
                

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-deck">
        <div class="row">
          <div class="col-4 mb-3" v-for="item in products" :key="item.id">
            <div class="card">
              <img :src="item.imageUrl" class="card-img-top img-fluid productImg" alt="...">
              <div class="card-img-overlay d-flex justify-content-end align-items-start">
                <a href="#" class="btn mt_155 mr_-2 d-flex btn-danger px-2 py-1" @click.prevent="addToCart(item.id)">
                  <span class="material-icons">
                    shopping_cart
                  </span>
                </a>
              </div>
              <div class="card-body zIndex_100">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="card-title m-0">{{ item.title }}</h5>
                  <button type="button" class="btn p-0 d-flex" @click="getProduct(item.id)"
                    :disabled="status.loadingItem === item.id">
                    <span class="material-icons">
                      info
                    </span>
                  </button>
                </div>
                <p class="card-text" v-html="item.content">
                  {{ item.content }}
                </p>
                <div class="h5" v-if="!item.price || item.price === item.origin_price">
                  售價 ${{ item.origin_price }}元
                </div>
                <div v-else>
                  <del class="h6">原價 ${{ item.origin_price }}元</del>
                  <div class="h5">現在只要 ${{item.price}}元</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 產品詳細內容 -->
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog w_70" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">商品資料</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-7">
                  <img :src="tempProduct.imageUrl" class="card-img-top" alt="...">
                </div>
                <div class="col-5">
                  <div class="h-100 d-flex flex-column justify-content-between">
                    <div>
                      <div class="h3 mb-5">{{ tempProduct.title }}</div>
                      <div class="h5 font-weight-normal mb-3">{{ tempProduct.description }}</div>
                      <div class="h5" v-if="!tempProduct.price || tempProduct.price === tempProduct.origin_price">
                        售價 ${{ tempProduct.origin_price }}元
                      </div>
                      <div v-else>
                        <del class="h6">原價 ${{ tempProduct.origin_price }}元</del>
                        <div class="h5">現在只要 ${{tempProduct.price}}元</div>
                      </div>
                    </div>
                    <div class="h5 d-flex justify-content-end">共 {{tempProduct.num}}
                      {{tempProduct.unit}}，{{ tempProduct.price * tempProduct.num }} 元</div>
                    <div class="row">
                      <div class="col-6 d-flex align-items-end">
                        <div class="btn-group" role="group" aria-label="Second group">
                          <button type="button" @click="tempProduct.num --"
                            class="btn btn-secondary px-2 d-flex justify-content-center">
                            <span class="material-icons">
                              remove
                            </span>
                          </button>
                          <div class="btn btn-secondary py-0 px-3 d-flex align-items-center justify-content-center">
                            {{ tempProduct.num }}</div>
                          <!-- <input class=""> -->
                          <button type="button" @click="tempProduct.num ++"
                            class="btn btn-secondary px-2 d-flex justify-content-center">
                            <span class="material-icons">
                              add
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="col-4 offset-2">
                        <a href="#" class="btn d-flex justify-content-center align-items-center btn-danger p-0 px-2"
                          @click.prevent="addToCart(tempProduct.id, tempProduct.num)">
                          <span class="material-icons px-2 py-3">
                            shopping_cart
                          </span>
                        </a>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.3/dist/vue-loading.min.js"></script>
  <script src="js/all.js" type="module"></script>
</body>

</html>