<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/all.css">
</head>

<body>
  <div id="app">
    <div class="bg_green h_150 mb-5">
      <div class="d-flex w-100 h-100 justify-content-end align-items-end p-2">
        <button type="button" class="btn btn-primary d-flex" data-toggle="modal" data-target="#exampleModal">
          <span class="material-icons" :class="{ mr2 : shoppingCartList.length }">
            shopping_cart
          </span>
          <div v-if="shoppingCartList.length">{{ shoppingCartList.length }}</div>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog w_70" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">購物車</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li v-for="item in shoppingCartList">
                    {{item.title}}
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-deck">
        <div class="row">
          <div class="col-4 mb-3" v-for="item in products" :key="item.id">
            <div class="card">
              <img :src="item.imageUrl" class="card-img-top img-fluid" alt="...">
              <div class="card-img-overlay d-flex justify-content-end align-items-center">
                <a href="#" class="btn mt-5 mr_-2 d-flex btn-danger px-2 py-1" @click.prevent="addToCart(item)">
                  <span class="material-icons">
                    shopping_cart
                  </span>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text" v-html="item.des">
                  內容
                </p>
                <div class="h5" v-if="!item.price || item.price === item.origin_price">
                  $ {{ item.origin_price }}元
                </div>
                <div v-else>
                  <del class="h6">原價 ${{ item.origin_price }}元</del>
                  <div class="h5">現在只要 ${{item.price}}元</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/all.js" type="module"></script>
</body>

</html>